# Nextflow system files
.nextflow/
.nextflow.log*
work/

# Pipeline outputs and results
results/
test_results/

# User data and input reads
reads/*
data/*

# OS-specific files
.DS_Store
Thumbs.db

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE configurations
.vscode/
.idea/

# Testing and temporary files
testing/
testing*
null/
.lineage/
